body {
  background: #444;
  color: #fff;
  margin: 20px;
  font: 32px "Century Gothic", Futura, sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
  flex-flow: row nowrap;
}

.square {
  background: #444;
  color: #fff;
  border: 1px solid #999;
  font-size: 84px;
  text-align: center;
  width: 100px;
  height: 100px;
}

.square:focus {
  outline: none;
  background: #222;
}

.status {
  margin: 20px;
  font-size: 24px;
}
